doctype html
head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="icon", href="favicon.ico")
  title DG Sport - Agency
  meta(name='description', content='Accompagne les sportifs de haut niveau dans le développement de leur communauté et d’une identité digitale.')
  meta(name='Keywords', content='digital, agency, sport, smooth, UI/UX')
  link(href="../css/normalize.css", rel="stylesheet", type="text/css")
  link(href="../css/main.css", rel="stylesheet", type="text/css")
  link(href="../css/responsive.css", rel="stylesheet", type="text/css")
  base(href='/')

body.loading

  include ./subviews/header
  section#home.setSize
  section#projects
  section#skills
  section#thinking
  section#us
  section#contact
  article#project
  .loader
    .align
    .centered
      .percent
      img(src='./img/logo-reversed.svg')

.templates
  include ./templates

//- Webpack Bundles
script(src='./vendor.bundle.js')
script(src='./app.bundle.js')
