doctype html
head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="icon", href="favicon.ico")
  title DG Sport - Agency
  meta(name='description', content='')
  meta(name='Keywords', content='')
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
  link(href="css/responsive.css", rel="stylesheet", type="text/css")
body


include ./templates

//- Webpack Bundles
script(src='./vendor.bundle.js')
script(src='./app.bundle.js')

