script(type="text/template", id="tpl-home")
  include ./subviews/home

script(type="text/template", id="tpl-projects")
  include ./subviews/projects

script(type="text/template", id="tpl-thinking")
  include ./subviews/thinking

script(type="text/template", id="tpl-us")
  include ./subviews/us

script(type="text/template", id="tpl-contact")
  include ./subviews/contact
