header#header
  .row
    img.logo.preload(data-src='./img/logo.svg')
    ul
      li Work
      li About
      li Contact
      li.lang
        span Eng
        img.preload(data-src='./img/arrow.svg')
        .dropdown
          a(href='/eng') English
          a(href='/fr') Français
          a(href='/de') Deutsch
          a(href='/ita') Italiano
