section#home
  .col
    figure.transit.black
    figure.transit.yellow
      .align
      img(src='./img/home.png')
      .block
  .align
  .row.centered
    .line
    h1.black-clr
      span DG SPORT
    p.grey-clr
      span Accompagne les sportifs de haut
      span niveau dans le développement de leur
      span communauté et d’une identité digitale
