section#projects
  .row
    h2.black-clr
      span Work
    .col
      .year.yellow-clr
        span.parallax(data-force='-0.1', data-type='translate') 20
      a(href='')
        img(src='./img/projects/thauvin.png')
    .col.async.parallax(data-force='-0.1', data-type='translate')
      .year.yellow-clr
        span.parallax(data-force='0.1', data-type='translate') 17
      a(href='')
        img(src='./img/projects/maximin.png')
