.row
  <% if (!isMobile) {%>
  h2.black-clr
    span Work
  <% } %>
  .col.left-col
    .year.yellow-clr
      span.parallax(data-force='-0.1', data-type='translate') 20

  .col.async.parallax.right-col(data-force='-0.07', data-type='translate')
    .year.yellow-clr
      span.parallax(data-force='0.08', data-type='translate') 17

