section#projects
  .row
    h2.black-clr
      span Work
    .col
      .year.yellow-clr 20
      a(href='')
        img(src='./img/projects/thauvin.png')
    .col.async
      .year.yellow-clr 17
      a(href='')
        img(src='./img/projects/maximin.png')
