.row
  <% if (!isMobile) {%>
  h2.black-clr
    span Work
  <% } %>
  .col
    .year.yellow-clr
      span.parallax(data-force='-0.1', data-type='translate') 20
    a.thauvin(href='http://florianthauvin.com/', regular, target='_blank')
      .wrap
        img.preload(data-src='./img/projects/thauvin.png')
        <% if (!isMobile) {%>
        img.masked.preload(data-src='./img/projects/thauvin.png')
        <% } %>
        .bot
          h5 Website
          h4 Florian Thauvin
  .col.async.parallax(data-force='-0.07', data-type='translate')
    .year.yellow-clr
      span.parallax(data-force='0.08', data-type='translate') 17
    a.maximin(href='http://www.allanstmaximin.com/', regular, target='_blank')
      .wrap
        img.preload(data-src='./img/projects/maximin.png')
        <% if (!isMobile) {%>
        img.masked.preload(data-src='./img/projects/maximin.png')
        <% } %>
        .bot
          h5 Website
          h4 Allan St-Maximin
