article.project
  figure.transit.yellow
  figure.transit
  .wrap
    .row
      .top
        .left
          a(href='/{{lang}}/')
            img(src='./img/arrow-black.svg')
          h5.black-clr
            | WORK
            span.grey-clr {{project.name}}
        a.right(href='/{{lang}}/')
          img.logo(src='./img/logo.svg')
      <% if (!isMobile) {%>
      img.banner(src='{{project.banner}}')
      <% } else { %>
      img.banner(src='{{project.mobile_banner}}')
      <% } %>
      .row
        h2.black-clr {{project.name}}
        //-span.grey-clr {{project.year}}
        a.button(href='{{project.link}}', target='_blank', regular)
          | Voir le site
          img(src='./img/arrow-white.svg')
      .row.underlined
        h3.black-clr
          img(src='./img/icons/brief.svg')
          span BRIEF
        p.txt.grey-clr {{project.brief}}
      .row.underlined
        h3.black-clr
          img(src='./img/icons/design.svg')
          span DESIGN
        img.banner.demo(src='{{project.content}}')
      .row.underlined
        h3.black-clr
          img(src='./img/icons/others.svg')
          span OTHER WORKS
        ul.others

