.cube
  figure.transit.black
  figure.transit.yellow
.row
  .align
  h2.black-clr
    span What
    span We Do
  ul
    li
      img(src='./img/web.png')
      span.black-clr Web Sites
      p.grey-clr Création, refonte & optimisation<br/>de sites internet sur mesure
    li
      img(src='./img/identity.png')
      span.black-clr Strong Identities
      p.grey-clr Élaboration de logos, de designs &<br/>de chartes graphiques
    li
      img(src='./img/content.png')
      span.black-clr Awesome Contents
      p.grey-clr Conception de GIF, de filtres &<br/>de montages photos
