.cube
  figure.transit.black
  figure.transit.yellow
.row
  .align
  h2.black-clr
    span What
    span We Do
  ul
    li
      figure.preload.to-bg(data-src='./img/icons/ui-sprite-110f.jpg')
        img.preload(data-src='./img/icons/web.png')
      span.black-clr Web Sites
      p.grey-clr {{lang.ui}}
    li
      figure.preload.to-bg(data-src='./img/icons/identity-sprite-170f.jpg')
        img.preload(data-src='./img/icons/identity.png')
      span.black-clr Strong Identities
      p.grey-clr {{lang.identity}}
    li
      figure.preload.to-bg(data-src='./img/icons/content-sprite-80f.jpg')
        img.preload(data-src='./img/icons/content.png')
      span.black-clr Awesome Contents
      p.grey-clr {{lang.content}}
