.row
  .content
    h2.black-clr
      span What
      span We Think
    p.grey-clr {{lang.txt}}
  aside
    figure.transit.black
    figure.transit.yellow
    blockquote.black-clr.parallax(data-force='-0.03', data-type='translate') {{lang.quote}}
