.row
  .content
    h2.black-clr
      span What
      .clear
      span We Think
    p.grey-clr {{lang.txt}}
  aside
    figure.transit.black
    figure.transit.yellow
    blockquote.black-clr {{lang.quote}}
