section#thinking
  .row
    .content
      h2.black-clr
        span What
        span We Think
      p.grey-clr Nous sommes convaincus que le digital joue désormais un rôle majeur dans le monde du sport. Il permet aux sportifs de fédérer une communauté, de bâtir une image forte, de marketer leurs performances… Autant d’éléments sous évalués mais pourtant essentiels pour décupler la valeur d’un sportif à travers ses contrats en clubs, ses contrats de sponsoring & pour lui permettre de réussir ses projets annexes.
    aside
      figure.transit.black
      figure.transit.yellow
      blockquote.black-clr
        span Le nom d'un grand
        span sportif est une
        span marque qu'il
        span convient à ce
        span titre de protéger et
        span de développer sur
        span le plan digital.
