section#us
  figure.transit.yellow
    img(src='./img/us.png')
  .row
    blockquote
      span Nous nous battons chaque jour pour bâtir,
      span à partir de sportifs, des héros à part entière.
    p Nous sommes une équipe de passionnés, d’un dévouement sans limite et d’une fiabilité sans faille. Nous fournissons un travail d’une qualité incomparable, focus sur les détails et l’innovation. Nous sommes loués par nos clients pour notre aptitude à sortir du rôle d’agence traditionnelle afin de nous positionner comme un véritable partenaire de leur carrière.
